<!DOCTYPE html>
<html>
<head>
  <title>OmniAuth Test Harness</title>
  <style type='text/css'>
    body { background: #f0f0f0; font-family: Helvetica, Arial, sans-serif;
      font-weight: 100; color: #202020; }
    #container { width: 600px; margin: 60px auto; font-size: .85em; }
    h1 { font-weight: 300; }
    p.notice { color: #0b0; }
    p.error { color: #c00; }
    ul { list-style-type: none; margin: 0; padding: 0;}
    li { padding-bottom: 1em; }
    dt { font-weight: 600; }
    dd { margin: 0 0 15px 0; }
  </style>
</head>

<body>
  <div id='container'>
    <h1>OmniAuth Test Harness</h1>
    <%= yield %>
  </div>
</body>
</html>
